body {
  font-family: "Segoe UI", Helvetica, sans-serif;
  margin: auto;
  /* max-width: 40rem; */
  word-wrap: break-word;
  background-color: #a0a0a0;
}

div.container {
  background-color: #ffffff;
  max-width: 47rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.front {
  text-align: center;
}

.back {
  text-align: center;
}

.notes {
  margin-top: 15px;
  font-size: 90%;
  color: #444444;
}

div.card {
  border-radius: 10px;
  background-color: #fdf6e3;
  max-width: 600px;
  border: 1px solid black;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
